@font-face {
    font-family: 'OptomDangELetterChart';
    src: url('/fonts/OptomDangELetterChart-abcdef.otf') format('opentype');
}

@font-face {
    font-family: 'OptomDangNumber';
    src: url('/fonts/OptomDangNumber-1234567890.otf') format('opentype');
}

@font-face {
    font-family: 'OptomDangLatinChart';
    src: url('/fonts/OptomDangLatinChart.otf') format('opentype');
}

@font-face {
    font-family: 'OptomDangLandotC';
    src: url('/fonts/OptomDangLandotC-abcdefgh.otf') format('opentype');
}

@font-face {
    font-family: 'OptomDangLeaChart';
    src: url('/fonts/OptomDangLeaChart-abcdef.otf') format('opentype');
}
